input[type=text] {
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(252, 227, 194);

}

input[type=submit] {
    padding: 10px 20px;
    margin: 8px 2;
}

h1, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-row label {
    flex-basis: 120px;
    margin-right: 10px;
    text-align: right;
  }
  

